@page
@model Puroguramu.App.Pages.CreateLecons

@{
    Layout = "_Layout";
    ViewData["Title"] = "Créer une lecon";
}

<div class="flex justify-center items-center min-h-screen">
    <div class="w-full max-w-md">
        <section class="bg-white shadow-md  border rounded px-8 pt-6 pb-8 mb-4">
            <form id="createLeconsForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="space-y-4">
                <h2 class="text-lg font-semibold text-center">Créer une lecon</h2>
                <hr class="my-2" />
                <div asp-validation-summary="ModelOnly" class="text-red-500"></div>
                <div class="form-group">
                    <label asp-for="Input.Titre" class="block text-sm font-medium text-gray-700">Titre</label>
                    <input asp-for="Input.Titre" class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Titre" class="text-red-500 text-xs"></span>
                </div>
                <div class="flex justify-center">
                    <button id="createLeconsSubmit" type="submit" class="mt-2 w-full inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">Créer</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}