@page "/Exercice/{Titre}/{LeconTitre}"
@model Puroguramu.App.Pages.Exercice

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    
</div>
</body>
</html>