@page
@model Puroguramu.App.Pages.IndexModel

@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Page d'accueil";
}

<div class="container">
    <!-- Titre -->
    <h1 class="center-align">Purogumaru</h1>
    
    <!-- Image -->
    <div class="row">
        <div class="col s12 center-align">
            <img src="images/icon.png" alt="Image d'illustration" class="responsive-img" width="40%">
        </div>
    </div>
    
    <!-- Description -->
    <div class="row">
        <div class="col s12 center-align">
            <p>Découvrez et pratiquez le C# avec des exercices interactifs.</p>
        </div>
    </div>
    
    <!-- Texte divers -->
    <div class="row">
        <div class="col s12 m4 center-align">
            <p>18 Leçons disponibles</p>
        </div>
        <div class="col s12 m4 center-align">
            <p>354 Exercices disponibles</p>
        </div>
        <div class="col s12 m4 center-align">
            <p>2099 Etudiants inscrits</p>
        </div>
    </div>
    
    <!-- Boutons -->
    <div class="row">
        <div class="col s6 center-align">
            <a asp-area="Identity" asp-page="/Account/Register" class="waves-effect waves-light btn">S'inscrire</a>
        </div>
        <div class="col s6 center-align">
            <a asp-area="Identity" asp-page="/Account/Login" class="waves-effect waves-light btn">Déjà inscrit ? Se connecter</a>
        </div>
    </div>
    
</div>
