@page
@model Puroguramu.App.Pages.IndexModel


@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Page d'accueil";
}

<div class="container mx-auto px-4">
    <!-- Titre -->
    <h1 class="text-center text-3xl font-bold pt-16">Purogumaru</h1>

    <!-- Image -->
    <div class="flex justify-center my-6">
        <img src="~/images/icon.png" alt="Image d'illustration" class="max-w-xs md:max-w-sm lg:max-w-md w-96">
    </div>

    <!-- Description -->
    <div class="text-center my-4">
        <p>Découvrez et pratiquez le C# avec des exercices interactifs.</p>
    </div>

    <!-- Texte divers -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 my-4">
        <div class="text-center">
            <p>@Model.LeconsDispos Leçons disponibles</p>
        </div>
        <div class="text-center">
            <p>@Model.ExosDispos Exercices disponibles</p>
        </div>
        <div class="text-center">
            <p>@Model.CountEtudiant Etudiants inscrits</p>
        </div>
    </div>

    <!-- Boutons -->
    <div class="flex justify-around my-6">
        <div>
            <a asp-area="Identity" asp-page="/Account/Register" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                S'inscrire
            </a>
        </div>
        <div>
            <a asp-area="Identity" asp-page="/Account/Login" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Déjà inscrit ? Se connecter
            </a>
        </div>
    </div>

</div>
