/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

.ace_editor {
    border: 1px solid lightgray;
    margin: auto;
    height: 256px;
}
.scrollmargin {
    height: 80px;
}
.scrollmargin2 {
    height: 180px;
}
.disabled-editor {
    pointer-events: none; /* Désactive les interactions de la souris */
    opacity: 0.5; /* Rend le div visiblement désactivé */
    user-select: none; /* Empêche la sélection du texte */
}


