@using Microsoft.AspNetCore.Identity
@using Puroguramu.Infrastructures.dto

@inject SignInManager<Utilisateurs> SignInManager
@inject UserManager<Utilisateurs> UserManager

<div class="flex justify-end space-x-4">
    @if (SignInManager.IsSignedIn(User))
    {
        <span class="nav-item">
            <a id="manage" class="text-gray-700  hover:text-gray-900  transition-colors" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Profil</a>
        </span>
        <span class="nav-item">
            <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                <button id="logout" type="submit" class="text-gray-700  hover:text-gray-900 transition-colors bg-transparent border-none cursor-pointer">Logout</button>
            </form>
        </span>
    }
    else
    {
        <span class="nav-item">
            <a class="text-gray-50  hover:text-gray-900 transition-colors" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </span>
        <span class="nav-item">
            <a class="text-gray-50 hover:text-gray-900  transition-colors" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </span>
    }
</div>